body{
  font-family: 'Montserrat';
}

#title {
  background-color: #9D3C72;
  color: #fff;
}

.container-fluid{
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 700;
}

h2{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.5rem;
}

p{
  color: #8f8f8f;
}

/* navbar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 3rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 300;
}

/* download btns */

.download-btn{
  margin: 5% 3% 5% 0%
}

/* title img */

.title-img{
  width: 25%;
  transform: rotate(5deg);
  position: absolute;
  right: 20%;
}

/* features section */

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.icon-features{
  color: #C85C8E;
  margin-bottom: 0.5em;
}

.icon-features:hover{
  color: #9D3C72;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

/* testimonial */

#testimonials{
  text-align: center;
  background-color: #9D3C72;
  color: #fff;
}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  text-align: center;
  background-color: #9D3C72;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-col{
  padding: 3% 2%;
}

#cta{
  background-color: #9D3C72;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

#footer{
  text-align: center;
  padding: 7% 15%;
}
.footer-icon{
  margin: 0 10px;
}

/* bootstrap */

.btn-outline-success{
  color:#C85C8E;
  border-color: #C85C8E;
}
.btn-outline-success:hover{
  border-color: #9D3C72;
  background-color: #9D3C72;
}
.btn-success{
  background-color: #C85C8E;
  border-color: #C85C8E;
}
.btn-success:hover{
  background-color: #9D3C72;
  border-color: #9D3C72;
}

/* responsive */
@media (max-width: 991px){
  #title{
    text-align: center;
  }
  
  .title-img{
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}